@if (messageService.messages.length > 0) {
  <div  class="position-absolute">
    @for (message of messageService.messages; track message) {
      <div class="alert alert-dismissible fade show" [ngClass]="message.type" role="alert">
        <strong>{{message.tag ? tags[message.tag] : message.title}}</strong>.
        {{message.tag ? message.title + ". " : ""}}{{message.text}}
        @if (message.close) {
          <button type="button" class="btn-close"
            (click)="removeMessage(message)"
            data-dismiss="alert"
            aria-label="Close">
            <!-- <span aria-hidden="true">&times;</span> -->
          </button>
        }
      </div>
    }
  </div>
}
