<div  class="position-absolute" *ngIf="messageService.messages.length > 0">
  <div *ngFor='let message of messageService.messages' class="alert alert-dismissible fade show" [ngClass]="message.type" role="alert">
    <strong>{{message.tag ? tags[message.tag] : message.title}}</strong>.
    {{message.tag ? message.title + ". " : ""}}{{message.text}}
    <button type="button" class="btn-close"
            *ngIf="message.close"
            (click)="removeMessage(message)"
            data-dismiss="alert"
            aria-label="Close">
      <!-- <span aria-hidden="true">&times;</span> -->
    </button>
  </div>
</div>
