<div class="jumbotron jumbotron-fluid  p-5">
  <h1 class="display-3">
    {{appTitle}}
  </h1>
  <p class="lead font-weight-bold">Esta es una simple applicación que mantiene una lista de canciones para cantar en un karaoke.</p>
  <hr class="my-4">
  <div class="mb-2 p-3">
    <h3 class="text-justify lead">La lista tiene canciones de nuestro querido ECUADOR, y muchas canciones en español. Para los Aniñados/Pelucones, tambien hay canciones en Ingles.</h3>
    <h3 class="text-justify lead">Cantaran bien, no harán quedar mal. Y si cantan mal, aguanten el bullying de los panas.</h3>
  </div>
  <div class="mb-2 p-2">
    <p>Recuerde que no hay que ponerse bravo si no funciona, solo es para pasarla bien con los panas, mijines o broders y cantar con el shungo a todo pulmón.</p>
    <p>Pero si mismo mismo no funciona, tenga paciencia y espere un rato. O si no, váyase a volver, capaz que cuando regresa ya funciona</p>
    <p>Si cuando vuelva, no funciona; es que se cayó el sistema, o el internet le hizo la casita y le jugo Barcelona (el del Manso Guayas, por si acasitoff).</p>
    <p>Si no entiende algo, pregunte; vera que guagua que no llora no mama</p>
  </div>
  <div>
    <h2>CHULLA VIDA!</h2>
  </div>
</div>
